.staking-container {
    display: flex;
    width: 1440px;
}

.staking-left {
    width: 26rem;
    height: 100vh;
    background: #0C1121;
    padding: 1.429rem 1.429rem 34.143rem 1.429rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
    width: 364px;
}

.staking-left__info-container{
    padding-bottom: 20px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.05);
}

.staking-left__info{
    width: 23.143rem;
    height: 8.571rem;
    background: #070B1A;
    border-radius: 1.286rem;
    font-family: 'Uber Move';
    line-height: 140%;
    color: #FFFFFF;
    padding: 1.429rem 1.143rem;
}

.staking-left-info h2{
    font-weight: 500;
}

.staking-left-info p{
    font-weight: 400;
    display: flex;
    justify-content: space-between;
}

.staking-left__header {
    font-weight: 500;
    padding: 1.429rem 0 0.857rem 0;
}

.staking-left__input  {
    display: flex;
    flex-direction: column;
    position: relative;
}

.staking-left__input  input{
    margin-top: 0.286rem;
    padding: 0.821rem 1.143rem;
    background: #0C1121;
    width: 23.143rem;
    height: 3.071rem;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 0.571rem;
}

.staking-left__input span {
    position: absolute;
    left: 20rem;
    bottom: 0.857rem;
    text-decoration-line: underline;    
    font-weight: 400;
    font-family: 'Uber Move';
    user-select: none;
}

.staking-left__list {
    display: flex;
    font-family: 'Uber Move';
    font-style: normal;
    font-weight: 500;
    line-height: 140%;
    display: flex;
    justify-content: space-between;
    text-align: center;
    color: #6A6D76;
    padding: 0.786rem 0 0.964rem 0;
}

.staking-left__list li {
    width: 4.286rem;
    height: 3.143rem;
    padding-top: 0.857rem;
    background: rgba(255, 255, 255, 0.05);
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 0.571rem;
}

.staking-left__list li.active {
    background: #3D5AFE;
    color: #FFFFFF;
}

.staking-left__help{
    width: 100%;
    height: 1.714rem;    
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.staking-left__help p {
    font-family: 'Uber Move';
    color: #6A6D76;
    font-weight: 400;
}

.staking-left__btn {
    padding: 1.107rem 2.143rem;
    width: 23.143rem;
    height: 3.643;
    background: #3D5AFE;
    border-radius: 2.286rem;
}

.staking-right {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    padding: 40px 20px 336px 20px;
    width: 1074px;
}

.staking-right__header {
    font-family: 'Uber Move';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 130%;
    color: #FFFFFF;
}

.staking-right__info {
    display: flex; 
    flex-direction: row;
    justify-content: space-between;
}

.staking-right__info-item {
    width: 508px;
    height: 158px;
    background: rgba(255, 255, 255, 0.05);
    border: 1px solid rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(42.5px);
    border-radius: 8px;
    display: flex;
    padding: 29px 16px 29px 16px; 
    display: flex; 
    flex-direction: column;
    justify-content: space-between;
}

.staking-right__info-item:first-child {
    margin-right: 20px;
}

.staking-right__info-element {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.staking-right__info-element p:first-child {
    display: flex;
    align-items: center;
}

.staking-right__info-element p:last-child {
    letter-spacing: 1px;
}

.staking-right__info-element img {
    padding-right: 10px;
}

.staking-right__stakes {
    width: 1036px;
    height: 320px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 8px;
}

.staking-right__stakes-head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 78px;
    padding: 0 216px 0 16px;
    background: rgba(255, 255, 255, 0.03);
    border-radius: 7px 7px 0px 0px;
}

.staking-right__stakes-head th{
    color: #9C9DA3;
    font-weight: 500;
    font-size: 14px;
    line-height: 140%;
    width: 160px;    
    text-align: left;
}

.staking-right__stakes-content {
    height: 80px;
    padding: 0 16px;
    width: 100%;
    display: flex;
    align-items: center;
    background: rgba(255, 255, 255, 0.03);
}

.staking-right__stakes-content:nth-child(3) {
    background: rgba(255, 255, 255, 0.05);    
}

.staking-right__stakes-content td {
    font-weight: 500;
    font-size: 14px;
    line-height: 140%;
    letter-spacing: 1px;
    width: 160px;    
    text-align: left;
}

.unstake-btn {
    width: 89px;
    height: 43px;
    border: 1px solid #3D5AFE;
    border-radius: 32px;
    color: #FFFFFF;
    font-weight: 500;
    margin: 0 20px 0 0;
}

.harvest-btn {
    background: #3D5AFE;
    border-radius: 32px;
    width: 87px;
    height: 43px;
    color: #FFFFFF;
    font-weight: 500;
}